/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

body{
    margin: 0 auto;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1em;
    background-color: #fff;
}

li {
    padding: 10px;
    /* width: 30%; */
}

.mid-li{
    width: 30%;
}

a {
    /* color: #f5f5f6; */
    text-decoration: none;
}

.img-logo{
    width: 20%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.txt-search{
    border-radius: 20px;
    padding: 10px 10px;
    border-color: #e0d5d53a;
    width: 100%;
}


/* 
        MAIN VIDEO STYLES 
*/

.main-video{
    padding: 80px 100px;
    width: 80%;
    float: left; 
    z-index: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-info {
    padding: 1rem;
}
.video-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.video-stats {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.video-stats p {
    margin-right: 1rem;
    font-size: 1.2rem;
}
.video-description {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* 
        RELATED VIDEOS STYLE 
*/

.side-section{
    width: 20%;
    display: flex;
    flex-direction: column;
    float: right; 
    padding: 60px 10px;
}


.related-videos {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-top: 2rem;
}
.related-videos-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.related-videos-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.related-videos-list li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.related-videos-list li img {
    width: 150px;
    height: 84px;
    margin-right: 1rem;
}
.related-video-info {
    flex: 1;
}
.related-video-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.related-video-author {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}
.related-video-views {
    font-size: 1rem;
    color: #888;
}

.thumbnail-images{
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
    .main-video {
        padding: 70px 30px;
        width: 100%;
    }
    .video-title {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    .side-section{
        padding: 5px 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/* @media only screen and (max-width: 600px) {
    
} */